# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
env/

# Model files (if you want to exclude them)
*.h5

# IDE settings
.vscode/


# Dataset folder
DATASET/
skeletal_output/
